body{
    text-align: center;
    margin: 0;
}


.header {
    background: #eee;
    padding: 20px;
}

.header_content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.row{
    display: flex;
    justify-content: space-between;
}

.col{
    flex: 1;
}

.button{
    margin: 5px;
    border: 2px solid #0c0c0c;
    height: 30px;
    font-size: 21px;
}

.button:hover{
    background: #0c0c0c;
    color: #eee;
}

.new_project{
  background: #28a745;
  color: #fff;
}

.icon_button{
    background: none;
    border: none;
}

.del_button{
    color: #fc1234;
    font-size: 20px;
}

.del_button:hover{
    color: #cf4321;
}

.del_user_button{
    font-size: 15px;
}

.add_user_button{
    color: #28a745;
}

.modal{
    position: fixed;
    width: 90%;
    height: 90%;
    margin-left: 5%;
    margin-right: 5%;
    background: #eee;
    border: 2px solid #fefefe;
    display: flex;
}

.close_modal{
    position: absolute;
    right: 10px;
    font-size: 30px;
}

.close_modal:hover{
    font-size: 35px;
}

.login_form, .register_form, .issues_form, .projects_form{
    display: flex;
    flex-direction: column;
    padding: 50px;
    width: 50%;
    margin: auto;
}

.project_item{
    margin: 10px;
    padding: 10px;
    border: 2px solid #efefef;
}

.project_details_header{
    background: #eee;
    padding: 10px;
}

.project_details{
    text-align: left;
    display: flex;
    flex-direction: column;
}

.project_details .details{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
}

.project_info{
    display: flex;
    flex-direction: column;
}

.issue_item{
    border: 3px solid #0c0c0c;
    margin: 10px;
    padding: 10px;
}

.auth_section{
    background: #ccf;
}

.auth_nav{
    justify-content: center;
    list-style-type: none;
    display: flex;
    padding: 0;
}

.auth_item{
    flex-basis: 50%;
    background: #ccf;
}

.auth_nav .active{
    background: #cfc;
}

.auth_nav .active:hover{
    background: #fcc;
}

.input{
    height: 25px;
    font-size: 21px;
    margin: 5px;
}

.errors{
    color: red;
}

.allow_user{
    font-size: 30px;
    color: #c1a;
}

.allow_user:hover{
    font-size: 30px;
    color: #cba;
}

.user_item{
    border: 1px solid #cba;
    padding: 3px;
    margin: 2px;
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 768px) {
    .issue_item{
        flex-direction: column;
    }
}